body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image:url(../svgs/background.svg);
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
}

a:hover {
  color: #111;
}

header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
  font-weight:700;
  color:#39ADD1;
  transition:color .4s ease-out;
  cursor:pointer;
}

header nav ul li .menu-icon{
    fill:#39ADD1;
    transition:fill .4s ease-out;
}

header nav ul li:hover {
    color:gold;
}

header nav ul li:hover .menu-icon{
    fill:gold;
    color:gold;
}

.logo{
    width:140px;
    height:120px;
}

.logo-text{
    display:none;
}

.corgis{
    margin:0 0 0 60px;
    text-align:center;
}

.sable{
    color:#b97f5b;
}

.fawn{
    color:#e9aa82;
}

.red{
    color:#834b29;
}

.stone{
    color:#52595e;
}

main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

@media (min-width:425px){
    .logo-text{
        display:inline;
    }
    .logo-heading{
        display:none;
    }
}